<div class="container mt-5">
  <h4>Internal Server Error - Refreshing the page will result in the loss of the exception details</h4>
  <ng-container *ngIf="error">
    <h5 class="text-danger">
      Error: {{error.message}}
    </h5>
    <p class="font-weight-bold">
      Angular is probably NOT responsible for this response error
    </p>
    <p>Following is the stack trace</p>
    <code class="mt-5" style="background-color: whitesmoke;">
      {{error.details}}
    </code>
  </ng-container>
</div>
